.wrapper {
  background-color: var(--bg-color);
  padding: 2rem;
  margin-top: 14vh;
}

.heading {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.paragraph {
  color: var(--text-color);
  margin-bottom: 0.75rem;
  line-height: 1.6;
}
@media (min-width: 640px) {
  .wrapper{
    margin-top: 10vh;
  }
}