.wrapper {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: var(--card-bg);
  padding: 40px 32px;
  border-radius: 16px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
  width: 90%;
  max-width: 400px;
}

.heading {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 24px;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: border-color 0.3s;
}

.input:focus {
  outline: none;
  border-color: var(--link-color);
}

.button {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--button-bg);
  color: var(--button-text);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1d4ed8; /* Slightly darker blue */
}

.error {
  color: red;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
}
.passwordCntnr {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.eyeButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translatey(-70%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

